@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,300&display=swap');

#profileBtn {
  float: right;
}

#userName {
  width: 200px;
  padding: 3px;
}

:root {
  --green: #4d7c0f;
  --yellow: #fcd34d;
  --light: #eff6ff;
  --dark: #172554;
  --neutral: #737373;
  --font: "Poppins", sans-serif;
}

.hidden {
  display: none;
  z-index: -1;
}

#hidden {
  display: none;
}

body {
  background-color: var(--light);
  font-family: var(--font);
} 

header {
  position: fixed;
  top: 0;
  padding: 20px;
  background-color: var(--green);
  width: 100vw;
  color: var(--light);
  /* height: 200px; */
}

header h1 {
  font-weight: 900;
}

header h4 {
  font-weight: 200;
  font-style: italic;
  color: var(--yellow);
}

#userNameDisplay {
  float: left;
  width: 40%;
}

#welcome {
  margin-top: 12rem;
}

.nav {
  margin-top: 12vh;
  padding: 2.5em;
  z-index: 2;
}

.nav form {
  width: 85vw;
  display: flex;
  justify-content: space-evenly;
  margin: 3px;
}

.nav form input {
  border-style: none;
  width: 3em;

}

.nav form label {
  font-size: 1.5em;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: .4em;
  padding: 20px;
}

/* popup */

#info-popup {
  grid-area: 2 / 2 / 7 / 7;
  background-color: var(--neutral);
  padding: 20px;
  z-index: 5;
}

#exit-popup,
#add-more-inputs {
  padding: 8px;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50%;
  background-color: coral;
  float: right;
}

#add-more-inputs {
  float: none;
  margin: 10px;
}

#exit-popup:hover,
#add-more-inputs:hover {
  cursor: pointer;
}

#goal-list {
  grid-area: 1 / 6 / 9 / 9;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.2em;
  border-radius: 1em;
  padding: 1em;
}

/* week cards */
#output {
  grid-area: 1 / 1 / 9 / 6;

}

#week {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.week-card {
  display: flex;
  flex-direction: column;
  background-color: var(--yellow);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 5px var(--neutral);
}

.week-card > p:first-child {
  align-self: center;
  font-size: 1.6em;
  font-weight: 700;
  padding: .4em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.block-group {
  display: flex;
  flex-wrap: wrap;
  padding: .4em;
}

.blocks {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: var(--green);
}

.dayResetButton {
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: red;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #4d7c0f; 
}

.background-images {
  position: fixed;
}

.img1 {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/blanch.png");
  background-size: cover;
  animation: move 30s linear infinite;
}

.img2 {
  position: absolute;
  z-index: -1;
  top: 20vh;
  left: 20vw;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/grambie.png");
  background-size: cover;
  animation: move 10s linear infinite;
}

.img3 {
  position: absolute;
  z-index: -1;
  top:10vh;
  right:10vw;
  width: 50vw;
  height: 50vh;
  background-image: url("../assets/images/grundle.png");
  background-size: cover;
  animation: rotate 15s reverse infinite;
}

.img4 {
  position: absolute;
  z-index: -1;
  width: 50vw;
  height: 50vh;
  top: 40vh;
  right: 5vw;
  background-image: url("../assets/images/punch.png");
  background-size: cover;
  animation: rotate 25s alternate-reverse infinite;
}
.img5 {
  position: absolute;
  z-index: -1;
  top: 35vh;
  right: 20vw;
  width: 70vw;
  height: 70vh;
  background-image: url("../assets/images/squirm.png");
  background-size: cover;
  animation: moveleft 10s linear infinite;
}
.img6 {
  position: absolute;
  z-index: -1;
  top: 35vh;
  right: 20vw;
  width: 70vw;
  height: 70vh;
  background-image: url("../assets/images/qwamp.png");
  background-size: cover;
  animation: diagonal 20s linear infinite;
}

@keyframes move{
  0% {
    transform:translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes rotate { 100% {
  transform:rotate(-360deg);
}}

@keyframes moveleft{
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@keyframes diagonal {
  from {
    -webkit-transform: translateX(100%) translateY(-100%);
    transform: translateX(100%) translateY(-100%);
  
  }
  to {
    -webkit-transform: translateX(-100%) translateY(100%);
    transform: translateX(-100%) translateY(100%);
  }
}