:root {
  --red: #D62246;
  --yellow: #F9DC5C;
  --light: #F0F4F9;
  --dark: #303A2B;
  --neutral: #465362;
}

.hidden {
  display: none;
}

#info-popup {
  position: fixed;
  top: 10%;
  left: 5%;
  background-color: lightseagreen;
  padding: 20px;
}

#exit-popup,
#add-more-inputs {
  padding: 8px;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50%;
  background-color: coral;
  float: right;
}

#add-more-inputs {
  float: none;
  margin: 10px;
}

#exit-popup:hover,
#add-more-inputs:hover {
  cursor: pointer;
}


body {
  background-color: lightblue;
} 

.block-group {
  display: flex;
  flex-wrap: wrap;
}

.blocks {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: var(--yellow);
}

#goal-list {
  padding: 20px;
  float: right;
}