@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,300&display=swap');

:root {
  --green: #4d7c0f;
  --yellow: #fcd34d;
  --light: #eff6ff;
  --dark: #172554;
  --neutral: #737373;
  --font: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

body {
  background-color: var(--light);
  font-family: var(--font);
} 

header {
  position: fixed;
  top: 0;
  padding: 20px;
  background-color: var(--green);
  width: 100vw;
  color: var(--light);
}

header h1 {
  font-weight: 900;
}

header h4 {
  font-weight: 200;
  font-style: italic;
  color: var(--yellow);
}

.nav {
  margin-top: 10vh;
  padding: 2.5em;
}

.nav form {
  width: 85vw;
  display: flex;
  justify-content: space-between;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

/* popup */

#info-popup {
  grid-area: 2 / 2 / 7 / 7;
  background-color: var(--neutral);
  padding: 20px;
}

#exit-popup,
#add-more-inputs {
  padding: 8px;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50%;
  background-color: coral;
  float: right;
}

#add-more-inputs {
  float: none;
  margin: 10px;
}

#exit-popup:hover,
#add-more-inputs:hover {
  cursor: pointer;
}

/* week cards */
#output {
  grid-area: 1 / 1 / 9 / 6;
}

#week {
  display: flex;
  flex-direction: column;
}

.week-card {
  
}

.block-group {
  display: flex;
  flex-wrap: wrap;
}

.blocks {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: var(--green);
}

#goal-list {
  grid-area: 1 / 7 / 9 / 9;
  z-index: 5;
}